@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}


<div class="container">
    <div class="row" style="padding-top:15px;">
        <div class="col-md-3">
            <div style="text-align:center;" class="form-group">
                <a href=""><img src="@Url.Content("~/Content/images/")No_Poster.png" alt="No_Image" height="350" width="260"></a>
                <a href=""><label style="padding-top:5px;">ABCDEFGHEF HGFJSKGJK DSFJDSJFGD JGDSFJGDJG DJSF</label></a>
                <button style="width:100%;" type="button" class="btn btn-info">View</button>
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align:center;" class="form-group">
                <a href=""><img src="@Url.Content("~/Content/images/")No_Poster.png" alt="No_Image" height="350" width="260"></a>
                <a href=""><label style="padding-top:5px;">ABCDEFGHEF HGFJSKGJK DSFJDSJFGD JGDSFJGDJG DJSF</label></a>
                <button style="width:100%;" type="button" class="btn btn-info">View</button>
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align:center;" class="form-group">
                <a href=""><img src="@Url.Content("~/Content/images/")No_Poster.png" alt="No_Image" height="350" width="260"></a>
                <a href=""><label style="padding-top:5px;">ABCDEFGHEF HGFJSKGJK DSFJDSJFGD JGDSFJGDJG DJSF</label></a>
                <button style="width:100%;" type="button" class="btn btn-info">View</button>
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align:center;" class="form-group">
                <a href=""><img src="@Url.Content("~/Content/images/")No_Poster.png" alt="No_Image" height="350" width="260"></a>
                <a href=""><label style="padding-top:5px;">ABCDEFGHEF HGFJSKGJK DSFJDSJFGD JGDSFJGDJG DJSF</label></a>
                <button style="width:100%;" type="button" class="btn btn-info">View</button>
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align:center;" class="form-group">
                <a href=""><img src="@Url.Content("~/Content/images/")No_Poster.png" alt="No_Image" height="350" width="260"></a>
                <a href=""><label style="padding-top:5px;">ABCDEFGHEF HGFJSKGJK DSFJDSJFGD JGDSFJGDJG DJSF</label></a>
                <button style="width:100%;" type="button" class="btn btn-info">View</button>
            </div>
        </div>
    </div>
</div>